@charset "UTF-8";
/*----------------------------------
Variables Style
----------------------------------*/
/*----------------------------------
Function Style
----------------------------------*/
/*----------------------------------
Extend Style
----------------------------------*/
.cl {
  display: inline-block;
  min-height: 1%;
  display: block;
  *zoom: 1;
}

.cl:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

* html .cl {
  height: 1%;
}

/*----------------------------------
Mixins Style
----------------------------------*/
/*----------------------------------
Reset Style
----------------------------------*/
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, figure, input, textarea, p, blockquote {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

fieldset, img {
  border: 0;
  vertical-align: top;
}

ol, ul {
  list-style: none;
}

q:before, q:after {
  content: " ";
}

abbr, acronym {
  border: 0;
}

a {
  color: #333;
  text-decoration: none;
}

li img,
dt img,
dd img {
  vertical-align: top;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: #251b1e;
  box-sizing: content-box;
}

select::-ms-expand {
  display: none;
}

/*----------------------------------
Base Style
----------------------------------*/
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  position: static;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Meiryo UI", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* Image Style */
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/*----------------------------------
Header Style
----------------------------------*/
.l-header {
  position: relative;
  font-size: 12px;
  border-top: 4px solid #f1b723;
  padding: 16px 20px;
  background: #fff;
}

.l-header_logo {
  width: 119px;
}

.l-header_logogroup {
  position: absolute;
  width: 90px;
  right: 20px;
  top: 5px;
}

.l-header_menu {
  position: absolute;
  right: 20px;
  bottom: 18px;
  width: 25px;
}

.l-header_menu a {
  position: relative;
  display: block;
  height: 23px;
}

.l-header_menu a span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background: #0051a2;
  left: 0;
  transition: .4s;
}

.l-header_menu a span:nth-child(1) {
  top: 0;
}

.l-header_menu a span:nth-child(2) {
  top: 9px;
}

.l-header_menu a span:last-child {
  bottom: 0;
}

.l-header_menu a.is-active span:nth-child(1) {
  -ms-transform: translateY(9px) rotate(-315deg);
      transform: translateY(9px) rotate(-315deg);
}

.l-header_menu a.is-active span:nth-child(2) {
  opacity: 0;
}

.l-header_menu a.is-active span:last-child {
  -ms-transform: translateY(-9px) rotate(315deg);
      transform: translateY(-9px) rotate(315deg);
}

.l-header_nav {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1000;
  background: #000000;
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  padding: 0 20px 15px;
  font-size: 12px;
}

.l-header_nav li {
  border-bottom: 1px solid #fff;
}

.l-header_nav li a {
  display: block;
  padding: 12px 0;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/*----------------------------------
Footer Style
----------------------------------*/
.l-footer_nav {
  font-size: 11px;
}

.l-footer_nav li {
  border-top: 1px solid #f7d048;
}

.l-footer_nav li:first-child {
  border-top: none;
}

.l-footer_nav li a {
  padding: 11px 20px;
  display: block;
  background-color: #f1b723;
  background-image: url(/sp/bilingual/_shared/images/common/footer_arrow.png);
  background-repeat: no-repeat;
  background-position: right 20px top 50%;
  background-size: 7px auto;
}

.l-footer_logo {
  width: 126px;
  margin: 0 auto 10px;
}

.l-footer_copy {
  text-align: center;
  font-size: 10px;
}

.l-footer_bottom {
  padding: 18px 10px;
  background: #f2f2f2;
}

.l-footer_bottom_txt {
  font-size: 10px;
  margin-bottom: 18px;
}

.l-footer_bottom_img {
  margin-bottom: 20px;
}

.l-footer_bottom_img img {
  width: 100%;
}

/*----------------------------------
Content Style
----------------------------------*/
.l-sec {
  padding: 60px 0 80px;
}

.l-wrap {
  padding: 0 20px;
}

.l-wrap > :last-child {
  margin-bottom: 0 !important;
}

/*----------------------------------
Main Style
----------------------------------*/
/*----------------------------------
Navigation Style
----------------------------------*/
.c-inlineNav {
  margin-bottom: 10px;
  font-size: 10px;
  text-align: center;
  letter-spacing: -.40em;
}

.c-inlineNav li {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}

.c-inlineNav li a {
  margin: 0 10px;
  display: inline-block;
  padding-left: 15px;
  background-size: 10px auto;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url(/sp/bilingual/_shared/images/common/ico_arrow_blue.png);
}

/*----------------------------------
Navigation Style
----------------------------------*/
/*----------------------------------
Project Style
----------------------------------*/
/*--index--*/
.p-indexBriefing {
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(/sp/bilingual/_shared/images/index/bg_message.jpg);
}

/*--interview--*/
.p-intCatch {
  text-align: center;
  font-weight: bold;
  margin-bottom: 55px;
}

.p-intCatch_txt {
  margin-bottom: 15px;
}

/*-- common --*/
.c-simpleDef dt {
  font-weight: bold;
  color: #004da0;
}

/*----------------------------------
Utility Style
----------------------------------*/
.u-tal {
  text-align: left !important;
}

.u-tac {
  text-align: center !important;
}

.u-tar {
  text-align: right !important;
}

.u-fwb {
  font-weight: bold !important;
}

.u-centerring {
  margin-left: auto;
  margin-right: auto;
}

/*----------------------------------
background
----------------------------------*/
.u-bgGray {
  background: #f5f5f5 !important;
}

/*----------------------------------
color
----------------------------------*/
.u-colorWhite {
  color: #fff !important;
}

/*----------------------------------
フォントサイズ
----------------------------------*/
.u-fntMeiryo {
  font-family: "メイリオ", sans-serif;
}

/*----------------------------------
width
----------------------------------*/
.u-w100 {
  width: 100% !important;
}

/*----------------------------------
margin
----------------------------------*/
.u-mb0 {
  margin-bottom: 0px !important;
}

.u-mb5 {
  margin-bottom: 5px !important;
}

.u-mb10 {
  margin-bottom: 10px !important;
}

.u-mb15 {
  margin-bottom: 15px !important;
}

.u-mb20 {
  margin-bottom: 20px !important;
}

.u-mb25 {
  margin-bottom: 25px !important;
}

.u-mb30 {
  margin-bottom: 30px !important;
}

.u-mb35 {
  margin-bottom: 35px !important;
}

.u-mb40 {
  margin-bottom: 40px !important;
}

.u-mb45 {
  margin-bottom: 45px !important;
}

.u-mb50 {
  margin-bottom: 50px !important;
}

.u-mb55 {
  margin-bottom: 55px !important;
}

.u-mb60 {
  margin-bottom: 60px !important;
}

.u-mb65 {
  margin-bottom: 65px !important;
}

.u-mb70 {
  margin-bottom: 70px !important;
}

.u-mb75 {
  margin-bottom: 75px !important;
}

.u-mb80 {
  margin-bottom: 80px !important;
}

.u-mb85 {
  margin-bottom: 85px !important;
}

.u-mb90 {
  margin-bottom: 90px !important;
}

.u-mb95 {
  margin-bottom: 95px !important;
}

.u-mb100 {
  margin-bottom: 100px !important;
}

.u-mt0 {
  margin-top: 0px !important;
}

.u-mt5 {
  margin-top: 5px !important;
}

.u-mt10 {
  margin-top: 10px !important;
}

.u-mt15 {
  margin-top: 15px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mt25 {
  margin-top: 25px !important;
}

.u-mt30 {
  margin-top: 30px !important;
}

.u-mt35 {
  margin-top: 35px !important;
}

.u-mt40 {
  margin-top: 40px !important;
}

.u-mt45 {
  margin-top: 45px !important;
}

.u-mt50 {
  margin-top: 50px !important;
}

.u-mt55 {
  margin-top: 55px !important;
}

.u-mt60 {
  margin-top: 60px !important;
}

.u-mt65 {
  margin-top: 65px !important;
}

.u-mt70 {
  margin-top: 70px !important;
}

.u-mt75 {
  margin-top: 75px !important;
}

.u-mt80 {
  margin-top: 80px !important;
}

.u-mt85 {
  margin-top: 85px !important;
}

.u-mt90 {
  margin-top: 90px !important;
}

.u-mt95 {
  margin-top: 95px !important;
}

.u-mt100 {
  margin-top: 100px !important;
}

/*----------------------------------
padding
----------------------------------*/
.u-pb0 {
  padding-bottom: 0px !important;
}

.u-pb5 {
  padding-bottom: 5px !important;
}

.u-pb10 {
  padding-bottom: 10px !important;
}

.u-pb15 {
  padding-bottom: 15px !important;
}

.u-pb20 {
  padding-bottom: 20px !important;
}

.u-pb25 {
  padding-bottom: 25px !important;
}

.u-pb30 {
  padding-bottom: 30px !important;
}

.u-pb35 {
  padding-bottom: 35px !important;
}

.u-pb40 {
  padding-bottom: 40px !important;
}

.u-pb45 {
  padding-bottom: 45px !important;
}

.u-pb50 {
  padding-bottom: 50px !important;
}

.u-pb55 {
  padding-bottom: 55px !important;
}

.u-pb60 {
  padding-bottom: 60px !important;
}

.u-pb65 {
  padding-bottom: 65px !important;
}

.u-pb70 {
  padding-bottom: 70px !important;
}

.u-pb75 {
  padding-bottom: 75px !important;
}

.u-pb80 {
  padding-bottom: 80px !important;
}

.u-pb85 {
  padding-bottom: 85px !important;
}

.u-pb90 {
  padding-bottom: 90px !important;
}

.u-pb95 {
  padding-bottom: 95px !important;
}

.u-pb100 {
  padding-bottom: 100px !important;
}

.u-pt0 {
  padding-top: 0px !important;
}

.u-pt5 {
  padding-top: 5px !important;
}

.u-pt10 {
  padding-top: 10px !important;
}

.u-pt15 {
  padding-top: 15px !important;
}

.u-pt20 {
  padding-top: 20px !important;
}

.u-pt25 {
  padding-top: 25px !important;
}

.u-pt30 {
  padding-top: 30px !important;
}

.u-pt35 {
  padding-top: 35px !important;
}

.u-pt40 {
  padding-top: 40px !important;
}

.u-pt45 {
  padding-top: 45px !important;
}

.u-pt50 {
  padding-top: 50px !important;
}

.u-pt55 {
  padding-top: 55px !important;
}

.u-pt60 {
  padding-top: 60px !important;
}

.u-pt65 {
  padding-top: 65px !important;
}

.u-pt70 {
  padding-top: 70px !important;
}

.u-pt75 {
  padding-top: 75px !important;
}

.u-pt80 {
  padding-top: 80px !important;
}

.u-pt85 {
  padding-top: 85px !important;
}

.u-pt90 {
  padding-top: 90px !important;
}

.u-pt95 {
  padding-top: 95px !important;
}

.u-pt100 {
  padding-top: 100px !important;
}

/*----------------------------------
display
----------------------------------*/
@media only screen and (max-width: 768px) {
  .u-pc {
    display: none !important;
  }
}

/*----------------------------------
Button Style
----------------------------------*/
.c-conductorBtn {
  padding: 10px;
  background: #cbdbec;
  font-size: 14px;
}

.c-conductorBtn ul {
  text-align: center;
  display: table;
  width: 100%;
  table-layout: fixed;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  padding: 4px 0;
  background: #fff;
  text-align: center;
}

.c-conductorBtn ul li {
  border-left: 1px solid #e5e5e5;
  display: table-cell;
}

.c-conductorBtn ul li:first-child {
  border-left: none;
}

.c-conductorBtn ul li a {
  display: block;
  color: #004da0;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 0;
}

.c-conductorBtn ul li a span {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left center;
}

.c-conductorBtn ul li.ico_entry span {
  padding-left: 20px;
  background-image: url(/sp/bilingual/_shared/images/common/ico_entry_blue.png);
  background-size: 15px auto;
}

.c-conductorBtn ul li.ico_mail span {
  padding-left: 20px;
  background-image: url(/sp/bilingual/_shared/images/common/ico_mail_blue.png);
  background-size: 15px auto;
}

.c-btn {
  border: 1px solid #0051a2;
  text-align: center;
}

.c-btn a, .c-btn button {
  font-weight: bold;
  display: block;
  font-size: 15px;
  color: #0051a2;
  line-height: 1.6;
  padding: 10px 0;
  background-image: url(/sp/bilingual/_shared/images/common/arrow_blue.png);
  background-repeat: no-repeat;
  background-position: right 20px top 50%;
  background-size: 5px auto;
}

.c-btn02 {
  font-size: 14px;
}

.c-btn02 a {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #fff;
  font-weight: bold;
  padding: 12px 10px 12px 10px;
}

.c-btn02 a span {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left center;
}

.c-btn02--red a {
  background: #e10b1f;
}

.c-btn02--blue a {
  background: #094f9d;
}

.c-btn02--entry span {
  padding-left: 32px;
  background-image: url(/sp/bilingual/_shared/images/common/ico_entry_white.png);
  background-size: 15px auto;
}

.c-btn02--mail span {
  padding-left: 26px;
  background-image: url(/sp/bilingual/_shared/images/common/ico_mail_white.png);
  background-size: 15px auto;
}

.c-btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.c-btns li {
  width: 46.61017%;
}

.c-btn03 {
  font-size: 13px;
  line-height: 1.3;
  text-align: center;
}

.c-btn03 a {
  padding: 10px;
  display: block;
  color: #002576;
  border: 1px solid #002576;
  font-weight: bold;
}

.c-btn03.c-btn03--deepBlue a {
  border: 1px solid #0051a2;
  color: #0051a2;
}

.c-btn03.c-btn03--arrow {
  background-image: url(/sp/bilingual/_shared/images/common/arrow_blue.png);
  background-repeat: no-repeat;
  background-position: right 20px top 50%;
  background-size: 7px auto;
}

.c-btn03.c-btn03--arrowInverted {
  background-image: url(/sp/bilingual/_shared/images/common/arrow_blue_inverted.png);
  background-repeat: no-repeat;
  background-position: left 20px top 50%;
  background-size: 7px auto;
}

.btn-center {
  text-align: center;
}

.md-linktxt-btn.color-white, .btn-center .color-white.md-linktxt-btn02 {
  background-color: #fff;
  margin-top: 15px;
  border: 2px solid #c00000;
  line-height: 1.7;
}

.md-linktxt-btn.color-white a, .btn-center .color-white.md-linktxt-btn02 a {
  display: block;
  color: #c00000;
  padding: 0 20px;
  background: #fff;
}

.md-linktxt-btn.color-white a span, .btn-center .color-white.md-linktxt-btn02 a span {
  display: block;
  background: url("/sp/bilingual/_shared/images/common/icon_arrow_red.png") right center no-repeat;
  background-size: 7px auto;
  padding: 10px 18px 10px 10px;
  line-height: 1.4;
}

/*----------------------------------
Dialog Style
----------------------------------*/
/*----------------------------------
Grid Style
----------------------------------*/
/*----------------------------------
Heading Style
----------------------------------*/
.c-secTtl {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
  color: #004da0;
}

.c-secTtl02 {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.40909;
  text-align: center;
  margin-bottom: 40px;
}

.c-secTtl03 {
  font-weight: bold;
  line-height: 1.38889;
  font-size: 18px;
  text-align: center;
  margin-bottom: 13px;
  color: #004da0;
}

.c-secTtl03.c-secTtl03--large {
  font-size: 22px;
  line-height: 1.38636;
  margin-bottom: 10px;
}

.c-secTtl04 {
  position: relative;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 18px;
  margin-bottom: 20px;
}

.c-secTtl04 small {
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin-top: -5px;
}

.c-secTtl04:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  width: 145px;
  height: 4px;
  position: absolute;
  background: linear-gradient(to right, #af0001 0%, #af0001 20%, #afafaf 20%);
}

.c-secTtl04.c-secTtl04--20:after {
  background: linear-gradient(to right, #afafaf 0%, #afafaf 20%, #af0001 20%, #af0001 40%, #afafaf 40%);
}

.c-secTtl04.c-secTtl04--40:after {
  background: linear-gradient(to right, #afafaf 0%, #afafaf 40%, #af0001 40%, #af0001 60%, #afafaf 60%);
}

.c-secTtl04.c-secTtl04--60:after {
  background: linear-gradient(to right, #afafaf 0%, #afafaf 60%, #af0001 60%, #af0001 80%, #afafaf 80%);
}

.c-secTtl04.c-secTtl04--80:after {
  background: linear-gradient(to right, #afafaf 0%, #afafaf 80%, #af0001 80%, #af0001 100%);
}

.c-secTtl05 {
  text-align: center;
  margin-bottom: 60px;
}

.c-secTtl05 > * {
  display: block;
  line-height: 1;
}

.c-secTtl05 span {
  font-weight: bold;
  font-size: 48px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  margin-bottom: 10px;
}

.c-secTtl06 {
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  line-height: 1.38889;
}

.c-secTtl06:before {
  content: " ";
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  border-left: 80px solid #d70916;
  border-right: 80px solid #bfbfbf;
}

.c-searchTtl {
  font-weight: bold;
  padding: 13px 10px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  font-size: 15px;
  margin-bottom: 15px;
}

.c-searchTtl span {
  display: inline-block;
  padding-left: 21px;
  background-image: url(/sp/bilingual/_shared/images/common/ico_search.png);
  background-size: 18px auto;
  background-repeat: no-repeat;
  background-position: left center;
}

/*----------------------------------
Box Style
----------------------------------*/
.c-briefingBlock {
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(/sp/bilingual/_shared/images/index/bg_bilingual.jpg);
}

.c-contactBox {
  border: 1px solid #d0d0d0;
  text-align: center;
  padding: 15px;
  margin-bottom: 40px;
}

.c-contactBox_tel {
  font-size: 24px;
  margin: 5px 0;
}

.c-contactBox_tel a {
  font-weight: bold;
}

.c-conductorBox_wrap {
  margin: 140px 0 60px;
}

.c-conductorBox {
  position: relative;
  padding: 85px 20px 20px;
  border: 1px solid #d0d0d0;
}

.c-conductorBox_img {
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  width: 120px;
}

.c-conductorBox_def {
  margin-bottom: 25px;
}

.c-conductorBox_def dt {
  font-weight: bold;
  margin-bottom: 10px;
}

.c-conductorBox .c-contactBox {
  margin-bottom: 20px;
}

/*--focalBlock --*/
.c-focalBlock {
  margin-top: 30px;
}

.c-focalBlock:first-child {
  margin-top: 0;
}

.c-focalBlock_box {
  border: 1px solid #a5a5a5;
}

.c-focalBlock_box_img img {
  width: 100%;
}

.c-focalBlock_box_inr {
  padding: 15px 20px 20px;
}

.c-focalBlock_box_txt {
  margin-bottom: 15px;
}

.c-focalBlock02 {
  border: 1px solid #b6b6b6;
  margin-top: 20px;
}

.c-focalBlock02:first-child {
  margin-top: 0;
}

.c-focalBlock02_img img {
  width: 100%;
}

.c-focalBlock02_inr {
  padding: 15px 20px 20px;
  text-align: center;
}

.c-focalBlock02_ttl {
  font-weight: bold;
  line-height: 1.38889;
  font-size: 18px;
  text-align: center;
  margin-bottom: 13px;
}

.c-focalBlock02_txt {
  margin-bottom: 15px;
}

/*-- articleBlock --*/
.articleBlock {
  margin-top: 50px;
}

.articleBlock:first-child {
  margin-top: 0;
}

.articleBlock > *:last-child {
  margin-bottom: 0 !important;
}

.articleBlock .c-secTtl03 {
  margin-bottom: 16px;
}

.articleBlock_img {
  margin-bottom: 15px;
}

.articleBlock_txt {
  margin-bottom: 45px;
}

.articleBlock02_unit {
  margin-bottom: 50px;
}

.articleBlock02 {
  margin-top: 55px;
}

.articleBlock02:first-child {
  margin-top: 0;
}

.articleBlock02 > *:last-child {
  margin-bottom: 0 !important;
}

.articleBlock02_txt {
  margin-bottom: 1em;
}

/*----------------------------------
List Style
----------------------------------*/
.p-flowList {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  margin-bottom: 40px;
}

.p-flowList_item {
  width: 100%;
  display: table;
  background: #fff;
  margin-top: 15px;
}

.p-flowList_item:first-child {
  margin-top: 0;
}

.p-flowList_item_header, .p-flowList_item_body {
  display: table-cell;
}

.p-flowList_item_header {
  position: relative;
  color: #fff;
  width: 90px;
  font-size: 18x;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

.p-flowList_item_header:before {
  content: " ";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 100%;
  border-style: solid;
  border-width: 34px 45px 34px 45px;
  border-color: #000 transparent transparent transparent;
}

.p-flowList_item:first-child .p-flowList_item_header {
  background: #707070;
}

.p-flowList_item:first-child .p-flowList_item_header:before {
  border-color: #707070 transparent transparent transparent;
}

.p-flowList_item:nth-child(2) .p-flowList_item_header {
  background: #535353;
}

.p-flowList_item:nth-child(2) .p-flowList_item_header:before {
  border-color: #535353 transparent transparent transparent;
}

.p-flowList_item:nth-child(3) .p-flowList_item_header {
  background: #313131;
}

.p-flowList_item:nth-child(3) .p-flowList_item_header:before {
  border-color: #313131 transparent transparent transparent;
}

.p-flowList_item:nth-child(4) .p-flowList_item_header {
  background: #000;
}

.p-flowList_item:nth-child(4) .p-flowList_item_header:before {
  display: none;
}

.p-flowList_item_body {
  padding: 20px 20px 15px;
}

.p-flowList_item_body dl dt {
  font-weight: bold;
  font-size: 20px;
  color: #d70916;
  margin-bottom: 10px;
}

.c-acordionList {
  margin-bottom: 50px;
  border-top: 1px solid #d0d0d0;
}

.c-acordionList dl {
  border-bottom: 1px solid #e6e6e6;
}

.c-acordionList dl dt a {
  display: block;
  background: #fafafa;
  padding: 11px 20px;
  background-image: url(/sp/bilingual/_shared/images/common/ico_acordion.png);
  background-position: right 20px top 50%;
  background-repeat: no-repeat;
  background-size: 11px auto;
}

.c-acordionList dl dt a.is-active {
  background-image: url(/sp/bilingual/_shared/images/common/ico_acordion_active.png);
}

.c-acordionList dl dd {
  display: none;
}

.c-acordionList dl dd ul li {
  border-top: 1px solid #e6e6e6;
}

.c-acordionList dl dd ul li a {
  display: block;
  padding: 11px 30px;
  background-image: url(/sp/bilingual/_shared/images/common/footer_arrow.png);
  background-position: right 23px top 50%;
  background-repeat: no-repeat;
  background-size: 6px auto;
}

.c-searchTtl + .c-acordionList {
  margin-top: -1px;
}

.c-simpleDef02 dt {
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 15px;
}

/*----------------------------------
Table Style
----------------------------------*/
.c-defTable {
  border-bottom: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
}

.c-defTable dl dt {
  border-top: 1px solid #b5b5b5;
  background: #f5f5f5;
  font-size: 18px;
  line-height: 1.38889;
  padding: 7px 20px;
}

.c-defTable dl dt span {
  position: relative;
  display: block;
  padding-left: 15px;
}

.c-defTable dl dt span:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  border-left: 4px solid #e40b20;
  height: 72.72727%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

.c-defTable dl dd {
  padding: 15px 20px 35px;
}

.c-defTable dl dd p {
  margin-bottom: 20px;
}

.c-defTable dl dd > *:last-child {
  margin-bottom: 0 !important;
}

/*----------------------------------
Form Style
----------------------------------*/
.c-contactForm {
  margin-bottom: 25px;
}

.c-contactForm dl {
  margin-top: 20px;
}

.c-contactForm dl:first-child {
  margin-top: 0;
}

.c-contactForm dl dt {
  font-weight: bold;
  margin-bottom: 7px;
}

.c-contactForm dl dt.c-contactForm_req:after {
  content: "必須";
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  color: #fff;
  width: 42px;
  text-align: center;
  height: 18px;
  line-height: 18px;
  background: #ff0000;
  color: #fff;
  position: relative;
  top: -1px;
  margin-left: 9px;
  font-size: 12px;
}

.c-contactForm.c-contactForm--confirm {
  margin-bottom: 40px;
  padding: 20px 20px 55px;
  border: 1px solid #d0d0d0;
}

.c-contactForm.c-contactForm--confirm dl {
  margin-top: 32px;
}

.c-contactForm.c-contactForm--confirm dl:first-child {
  margin-top: 0;
}

.c-contactForm.c-contactForm--confirm dl dt {
  margin-bottom: 15px;
}

button {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Meiryo UI", sans-serif;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
}

input[type="text"], select, textarea {
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  padding: 11px;
  box-sizing: border-box;
  color: #251b1e;
  font-size: 15px;
  font-size: 1.5rem;
}

textarea {
  min-height: 202px;
  padding: 11px;
}

.free-search-form input[type="text"] {
  background: #f4f4f4;
  border: 1px solid #e5e5e5;
  font-size: 12px;
  border-radius: 0;
}

.free-search-form input[type="text"]:placeholder-shown {
  color: #a1a1a1;
}

.free-search-form input[type="text"] ::-webkit-input-placeholder {
  color: #a1a1a1;
}

.free-search-form input[type="text"] :-moz-placeholder {
  color: #a1a1a1;
}

.free-search-form input[type="text"] :-ms-input-placeholder {
  color: #a1a1a1;
}

/*----------------------------------
Media Style
----------------------------------*/
@media only screen and (min-width: 769px) {
  .u-sp {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .u-pc {
    display: none !important;
  }
}

/*----------------------------------
Visual Style
----------------------------------*/
.c-mainVisual {
  overflow: hidden;
  position: relative;
  height: 500px;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(/sp/bilingual/_shared/images/index/mainvisual.jpg);
}

.c-mainVisual_ttl {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  left: 0;
  color: #fff;
  text-align: center;
  font-size: 48px;
  line-height: 1.39583;
  font-weight: bold;
}

.c-mainVisual_ttl small {
  margin-top: 4px;
  display: block;
  font-size: 14px;
}

.c-mainVisual_arrow {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  bottom: 50px;
  width: 101px;
}

.c-undmainVisual {
  position: relative;
  height: 160px;
  background-size: cover;
  background-position: 50% 50%;
}

.c-undmainVisual.c-undmainVisual--common {
  background-image: url(/sp/bilingual/_shared/images/common/common_mainvisual.jpg);
}

.c-undmainVisual.c-undmainVisual--contact {
  background-image: url(/sp/bilingual/_shared/images/contact/mainvisual.jpg);
}

.c-undmainVisual.c-undmainVisual--interview {
  background-image: url(/sp/bilingual/_shared/images/interview/mainvisual.jpg);
}

.c-undmainVisual.c-undmainVisual--recruit {
  background-image: url(/sp/bilingual/_shared/images/recruit/mainvisual.jpg);
}

.c-undmainVisual.c-undmainVisual--map {
  background-image: url(/sp/bilingual/_shared/images/map/mainvisual.jpg);
}

.c-undmainVisual_ttl {
  font-feature-settings: palt;
  position: absolute;
  left: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
}
