@charset "utf-8";

/*----------------------------------
Project Style
----------------------------------*/

/*--index--*/

.p-indexBriefing {
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(/sp/bilingual/_shared/images/index/bg_message.jpg);
}


/*--interview--*/

.p-intCatch {
  text-align: center;
  font-weight: bold;
  margin-bottom: 55px;
  &_txt {
    margin-bottom: 15px;
  }
}


/*-- common --*/

.c-simpleDef {
  dt {
    font-weight: bold;
    color: #004da0;
  }
}

