/*----------------------------------
Utility Style
----------------------------------*/

.u-tal {
  text-align: left !important;
}

.u-tac {
  text-align: center !important;
}

.u-tar {
  text-align: right !important;
}

.u-fwb {
  font-weight: bold !important;
}

.u-centerring {
  margin-left: auto;
  margin-right: auto;
}

/*----------------------------------
background
----------------------------------*/

.u-bgGray {
  background: #f5f5f5 !important;
}


/*----------------------------------
color
----------------------------------*/

.u-colorWhite {
  color: #fff !important;
}


/*----------------------------------
フォントサイズ
----------------------------------*/

.u-fntMeiryo {
  font-family: "メイリオ", sans-serif;
}

/*----------------------------------
width
----------------------------------*/

.u-w100 {
  width: 100% !important;
}


/*----------------------------------
margin
----------------------------------*/

@for $i from 0 through 20 {
  .u-mb#{$i * 5} {
    margin-bottom: #{$i * 5}px !important;
  }
}

@for $i from 0 through 20 {
  .u-mt#{$i * 5} {
    margin-top: #{$i * 5}px !important;
  }
}

/*----------------------------------
padding
----------------------------------*/

@for $i from 0 through 20 {
  .u-pb#{$i * 5} {
    padding-bottom: #{$i * 5}px !important;
  }
}

@for $i from 0 through 20 {
  .u-pt#{$i * 5} {
    padding-top: #{$i * 5}px !important;
  }
}
/*----------------------------------
display
----------------------------------*/

.u-pc {
  @include media(sp) {
    display: none !important;
  }
}

.u-sp {
  @include media(pc-tab) {
    display: none !important;
  }
}
