/*----------------------------------
Content Style
----------------------------------*/

.l-sec {
  padding: 60px 0 80px;
}

.l-wrap {
  padding: 0 20px;
  >:last-child {
    margin-bottom: 0 !important;
  }
}
