@charset "utf-8";

/*----------------------------------
Footer Style
----------------------------------*/

.l-footer {
  &_nav {
    font-size: 11px;
    li {
      border-top: 1px solid #f7d048;
      &:first-child {
        border-top: none;
      }
      a {
        padding: 11px 20px;
        display: block;
        background-color: #f1b723;
        background-image: url(/sp/bilingual/_shared/images/common/footer_arrow.png);
        background-repeat: no-repeat;
        background-position: right 20px top 50%;
        background-size: 7px auto;
      }
    }
  }
  &_logo {
    width: 126px;
    margin: 0 auto 10px;
  }
  &_copy {
    text-align: center;
    font-size: 10px;
  }
  &_bottom {
    padding: 18px 10px;
    background: #f2f2f2;
    &_txt {
      font-size: 10px;
      margin-bottom: 18px;
    }
    &_img {
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
  }
}
