@charset "utf-8";

/*----------------------------------
Header Style
----------------------------------*/

.l-header {
  position: relative;
  font-size: 12px;
  border-top: 4px solid #f1b723;
  padding: 16px 20px;
  background: #fff;
  &_logo {
    width: 119px;
  }
  &_logogroup {
    position: absolute;
    width: 90px;
    right: 20px;
    top: 5px;
  }
  &_menu {
    position: absolute;
    right: 20px;
    bottom: 18px;
    width: 25px;
    a {
      position: relative;
      display: block;
      height: 23px;
      span {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 5px;
        background: #0051a2;
        left: 0;
        transition: .4s;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 9px;
        }
        &:last-child {
          bottom: 0;
        }
      }
      &.is-active {
        span {
          &:nth-child(1) {
            transform: translateY(9px) rotate(-315deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            transform: translateY(-9px) rotate(315deg);
          }
        }
      }
    }
  }
  &_nav {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    background: rgba(#000, .9);
    box-sizing: border-box;
    padding: 0 20px 15px;
    font-size: 12px;
    li {
      border-bottom: 1px solid #fff;
      a {
        display: block;
        padding: 12px 0;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
      }
    }

  }
}
