/*----------------------------------
Navigation Style
----------------------------------*/

.c-inlineNav {
  margin-bottom: 10px;
  font-size: 10px;
  text-align: center;
  letter-spacing: -.40em;
  li {
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
    a {
      margin: 0 10px;
      display: inline-block;
      padding-left: 15px;
      background-size: 10px auto;
      background-position: left center;
      background-repeat: no-repeat;
      background-image: url(/sp/bilingual/_shared/images/common/ico_arrow_blue.png);
    }
  }
}

