/*----------------------------------
Box Style
----------------------------------*/

.c-briefingBlock {
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(/sp/bilingual/_shared/images/index/bg_bilingual.jpg);
}

.c-contactBox {
  border: 1px solid #d0d0d0;
  text-align: center;
  padding: 15px;
  margin-bottom: 40px;
  &_tel {
    font-size: 24px;
    margin: 5px 0;
    a {
      font-weight: bold;
    }
  }
}

.c-conductorBox_wrap {
  margin: 140px 0 60px;
}

.c-conductorBox {
  position: relative;
  padding: 85px 20px 20px;
  border: 1px solid #d0d0d0;
  &_img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
  }
  &_def {
    margin-bottom: 25px;
    dt {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  .c-contactBox {
    margin-bottom: 20px;
  }
}

/*--focalBlock --*/

.c-focalBlock {
  margin-top: 30px;
  &:first-child {
    margin-top: 0;
  }
  &_box {
    border: 1px solid #a5a5a5;
    &_img {
      img {
        width: 100%;
      }
    }
    &_inr {
      padding: 15px 20px 20px;
    }
    &_txt {
      margin-bottom: 15px;
    }
  }
}

.c-focalBlock02 {
  border: 1px solid #b6b6b6;
  margin-top: 20px;
  &:first-child {
    margin-top: 0;
  }
  &_img {
    img {
      width: 100%;
    }
  }
  &_inr {
    padding: 15px 20px 20px;
    text-align: center;
  }
  &_ttl {
    font-weight: bold;
    line-height: (50/36);
    font-size: 18px;
    text-align: center;
    margin-bottom: 13px;
  }
  &_txt {
    margin-bottom: 15px;
  }
}


/*-- articleBlock --*/

.articleBlock {
  margin-top: 50px;
  &:first-child {
    margin-top: 0;
  }
  >*:last-child {
    margin-bottom: 0 !important;
  }
  .c-secTtl03 {
    margin-bottom: 16px;
  }
  &_img {
    margin-bottom: 15px;
  }
  &_txt {
    margin-bottom: 45px;
  }
}

.articleBlock02_unit {
  margin-bottom: 50px;
}

.articleBlock02 {
  margin-top: 55px;
  &:first-child {
    margin-top: 0;
  }
  >*:last-child {
    margin-bottom: 0 !important;
  }
  &_txt {
    margin-bottom: 1em;
  }
}
