@charset "utf-8";

/*----------------------------------
Button Style
----------------------------------*/

.c-conductorBtn {
  padding: 10px;
  background: #cbdbec;
  font-size: 14px;
  ul {
    text-align: center;
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding: 4px 0;
    background: #fff;
    text-align: center;
    li {
      border-left: 1px solid #e5e5e5;
      display: table-cell;
      &:first-child {
        border-left: none;
      }
      a {
        display: block;
        color: #004da0;
        font-weight: bold;
        text-decoration: none;
        padding: 5px 0;
        span {
          display: inline-block;
          background-repeat: no-repeat;
          background-position: left center;
        }
      }
      &.ico_entry {
        span {
          padding-left: 20px;
          background-image: url(/sp/bilingual/_shared/images/common/ico_entry_blue.png);
          background-size: 15px auto;
        }
      }
      &.ico_mail {
        span {
          padding-left: 20px;
          background-image: url(/sp/bilingual/_shared/images/common/ico_mail_blue.png);
          background-size: 15px auto;
        }
      }
    }
  }
}

.c-btn {
  border: 1px solid #0051a2;
  text-align: center;
  a, button {
    font-weight: bold;
    display: block;
    font-size: 15px;
    color: #0051a2;
    line-height: 1.6;
    padding: 10px 0;
    background-image: url(/sp/bilingual/_shared/images/common/arrow_blue.png);
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
    background-size: 5px auto;
  }
}

.c-btn02 {
  font-size: 14px;
  a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    padding: 12px 10px 12px 10px;
    span {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: left center;
    }
  }
  &--red {
    a {
      background: #e10b1f;
    }
  }
  &--blue {
    a {
      background: #094f9d;
    }
  }
  &--entry {
    span {
      padding-left: 32px;
      background-image: url(/sp/bilingual/_shared/images/common/ico_entry_white.png);
      background-size: 15px auto;
    }
  }
  &--mail {
    span {
      padding-left: 26px;
      background-image: url(/sp/bilingual/_shared/images/common/ico_mail_white.png);
      background-size: 15px auto;
    }
  }
}

.c-btns {
  display: flex;
  justify-content: space-between;
  li {
    width: (275/590) * 100%;
  }
}

.c-btn03 {
  font-size: 13px;
  line-height: 1.3;
  text-align: center;
  a {
    padding: 10px;
    display: block;
    color: #002576;
    border: 1px solid #002576;
    font-weight: bold;
  }
  &.c-btn03--deepBlue {
    a {
      border: 1px solid #0051a2;
      color: #0051a2;
    }
  }
  &.c-btn03--arrow {
    background-image: url(/sp/bilingual/_shared/images/common/arrow_blue.png);
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
    background-size: 7px auto;
  }
  &.c-btn03--arrowInverted {
    background-image: url(/sp/bilingual/_shared/images/common/arrow_blue_inverted.png);
    background-repeat: no-repeat;
    background-position: left 20px top 50%;
    background-size: 7px auto;
  }
}

.btn-center {
  text-align: center;
}

.md-linktxt-btn.color-white, .btn-center .color-white.md-linktxt-btn02 {
  background-color: #fff;
  margin-top: 15px;
  border: 2px solid #c00000;
  line-height: 1.7;
  a {
    display: block;
    color: #c00000;
    padding: 0 20px;
    background: #fff;
    span {
      display: block;
      background: url("/sp/bilingual/_shared/images/common/icon_arrow_red.png") right center no-repeat;
      background-size: 7px auto;
      padding: 10px 18px 10px 10px;
      line-height: 1.4;
    }
  }
}
