/*----------------------------------
Form Style
----------------------------------*/

.c-contactForm {
  margin-bottom: 25px;
  dl {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
    dt {
      font-weight: bold;
      margin-bottom: 7px;
      &.c-contactForm_req {
        &:after {
          content: "必須";
          display: inline-block;
          vertical-align: middle;
          font-weight: bold;
          color: #fff;
          width: 42px;
          text-align: center;
          height: 18px;
          line-height: 18px;
          background: #ff0000;
          color: #fff;
          position: relative;
          top: -1px;
          margin-left: 9px;
          font-size: 12px;
        }
      }
    }
  }
  &.c-contactForm--confirm {
    margin-bottom: 40px;
    padding: 20px 20px 55px;
    border: 1px solid #d0d0d0;
    dl {
      margin-top: 32px;
      &:first-child {
        margin-top: 0;
      }
      dt {
        margin-bottom: 15px;
      }
    }
  }
}

button {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Meiryo UI", sans-serif;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
}

input[type="text"], select, textarea {
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  padding: 11px;
  box-sizing: border-box;
  color: #251b1e;
  font-size: 1.5rem;
}

textarea {
  min-height: 202px;
  padding: 11px;
}

.free-search-form {
  input[type="text"] {
    background: #f4f4f4;
    border: 1px solid #e5e5e5;
    font-size: 12px;
    border-radius: 0;
    &:placeholder-shown {
      color: #a1a1a1;
    }
    ::-webkit-input-placeholder {
      color: #a1a1a1;
    }
    :-moz-placeholder {
      color: #a1a1a1;
    }
    :-ms-input-placeholder {
      color: #a1a1a1;
    }
  }
}

