/*----------------------------------
Heading Style
----------------------------------*/

.c-secTtl {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
  color: #004da0;
}

.c-secTtl02 {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.40909;
  text-align: center;
  margin-bottom: 40px;
}

.c-secTtl03 {
  font-weight: bold;
  line-height: (50/36);
  font-size: 18px;
  text-align: center;
  margin-bottom: 13px;
  color: #004da0;
  &.c-secTtl03--large {
    font-size: 22px;
    line-height: (61/44);
    margin-bottom: 10px;
  }
}


.c-secTtl04 {
  position: relative;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 18px;
  margin-bottom: 20px;
  small {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-top: -5px;
  }
  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 145px;
    height: 4px;
    position: absolute;
    background: linear-gradient(to right, #af0001 0%, #af0001 20%, #afafaf 20%);
  }
  &.c-secTtl04--20 {
    &:after {
      background: linear-gradient(to right, #afafaf 0%, #afafaf 20%, #af0001 20%, #af0001 40%, #afafaf 40%);
    }
  }
  &.c-secTtl04--40 {
    &:after {
      background: linear-gradient(to right, #afafaf 0%, #afafaf 40%, #af0001 40%, #af0001 60%, #afafaf 60%);
    }
  }
  &.c-secTtl04--60 {
    &:after {
      background: linear-gradient(to right, #afafaf 0%, #afafaf 60%, #af0001 60%, #af0001 80%, #afafaf 80%);
    }
  }
  &.c-secTtl04--80 {
    &:after {
      background: linear-gradient(to right, #afafaf 0%, #afafaf 80%, #af0001 80%, #af0001 100%);
    }
  }
}

.c-secTtl05 {
  text-align: center;
  margin-bottom: 60px;
  >* {
    display: block;
    line-height: 1;
  }
  span {
    font-weight: bold;
    font-size: 48px;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    margin-bottom: 10px;
  }
}

.c-secTtl06 {
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  line-height: (50/36);
  &:before {
    content: " ";
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 80px solid #d70916;
    border-right: 80px solid #bfbfbf;
  }
}

.c-searchTtl {
  font-weight: bold;
  padding: 13px 10px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  font-size: 15px;
  margin-bottom: 15px;
  span {
    display: inline-block;
    padding-left: 21px;
    background-image: url(/sp/bilingual/_shared/images/common/ico_search.png);
    background-size: 18px auto;
    background-repeat: no-repeat;
    background-position: left center;
  }
}
