/*----------------------------------
List Style
----------------------------------*/

.p-flowList {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  margin-bottom: 40px;
  &_item {
    width: 100%;
    display: table;
    background: #fff;
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
    &_header, &_body {
      display: table-cell
    }
    &_header {
      position: relative;
      color: #fff;
      width: 90px;
      font-size: 18x;
      font-weight: bold;
      vertical-align: middle;
      text-align: center;
      &:before {
        content: " ";
        position: absolute;
        z-index: 2;
        left: 0;
        top: 100%;
        border-style: solid;
        border-width: 34px 45px 34px 45px;
        border-color: #000 transparent transparent transparent;
      }
    }
    &:first-child {
      .p-flowList_item_header {
        background: #707070;
        &:before {
          border-color: #707070 transparent transparent transparent;
        }
      }
    }
    &:nth-child(2) {
      .p-flowList_item_header {
        background: #535353;
        &:before {
          border-color: #535353 transparent transparent transparent;
        }
      }
    }
    &:nth-child(3) {
      .p-flowList_item_header {
        background: #313131;
        &:before {
          border-color: #313131 transparent transparent transparent;
        }
      }
    }
    &:nth-child(4) {
      .p-flowList_item_header {
        background: #000;
        &:before {
          display: none;
        }
      }
    }
    &_body {
      padding: 20px 20px 15px;
      dl {
        dt {
          font-weight: bold;
          font-size: 20px;
          color: #d70916;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.c-acordionList {
  margin-bottom: 50px;
  border-top: 1px solid #d0d0d0;
  dl {
    border-bottom: 1px solid #e6e6e6;
    dt {
      a {
        display: block;
        background: #fafafa;
        padding: 11px 20px;
        background-image: url(/sp/bilingual/_shared/images/common/ico_acordion.png);
        background-position: right 20px top 50%;
        background-repeat: no-repeat;
        background-size: 11px auto;
        &.is-active {
          background-image: url(/sp/bilingual/_shared/images/common/ico_acordion_active.png);
        }
      }
    }
    dd {
      display: none;
      ul {
        li {
          border-top: 1px solid #e6e6e6;
          a {
            display: block;
            padding: 11px 30px;
            background-image: url(/sp/bilingual/_shared/images/common/footer_arrow.png);
            background-position: right 23px top 50%;
            background-repeat: no-repeat;
            background-size: 6px auto;
          }
        }
      }
    }
  }
}

.c-searchTtl {
  + .c-acordionList {
    margin-top: -1px;
  }
}

.c-simpleDef02 {
  dt {
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 15px;
  }
}
