/*----------------------------------
Media Style
----------------------------------*/

.u-sp {
  @include media(pc) {
    display: none !important;
  }
}

.u-pc {
  @include media(sp) {
    display: none !important;
  }
}
