/*----------------------------------
Table Style
----------------------------------*/

.c-defTable {
  border-bottom: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  dl {
    dt {
      border-top: 1px solid #b5b5b5;
      background: #f5f5f5;
      font-size: 18px;
      line-height: (50/36);
      padding: 7px 20px;
      span {
        position: relative;
        display: block;
        padding-left: 15px;
        &:before {
          content: " ";
          position: absolute;
          left: 0;
          top: 50%;
          border-left: 4px solid #e40b20;
          height: (16/22) * 100%;
          transform: translateY(-50%);
        }
      }
    }
    dd {
      padding: 15px 20px 35px;
      p {
        margin-bottom: 20px;
      }
      >*:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}
