@charset "utf-8";

/*----------------------------------
Visual Style
----------------------------------*/

.c-mainVisual {
  overflow: hidden;
  position: relative;
  height: 500px;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(/sp/bilingual/_shared/images/index/mainvisual.jpg);
  &_ttl {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: #fff;
    text-align: center;
    font-size: 48px;
    line-height: (134/96);
    font-weight: bold;
    small {
      margin-top: 4px;
      display: block;
      font-size: 14px;
    }
  }
  &_arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    width: 101px;
  }
}

.c-undmainVisual {
  position: relative;
  height: 160px;
  background-size: cover;
  background-position: 50% 50%;
  &.c-undmainVisual--common {
    background-image: url(/sp/bilingual/_shared/images/common/common_mainvisual.jpg);
  }
  &.c-undmainVisual--contact {
    background-image: url(/sp/bilingual/_shared/images/contact/mainvisual.jpg);
  }
  &.c-undmainVisual--interview {
    background-image: url(/sp/bilingual/_shared/images/interview/mainvisual.jpg);
  }
  &.c-undmainVisual--recruit {
    background-image: url(/sp/bilingual/_shared/images/recruit/mainvisual.jpg);
  }
  &.c-undmainVisual--map {
    background-image: url(/sp/bilingual/_shared/images/map/mainvisual.jpg);
  }
  &_ttl {
    font-feature-settings:palt;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
    font-weight: bold;
    color: #fff;
    font-size: 24px;
  }
}
