/*----------------------------------
Extend Style
----------------------------------*/
.cl{
  &:after{content:" ";display:block;height:0;clear:both;visibility:hidden;font-size:0;}
  display:inline-block;
  min-height:1%;
  display:block;
  *zoom:1;
  * html &{height:1%;}
}

/*----------------------------------
Mixins Style
----------------------------------*/
@mixin fontsize($size: 14, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

@mixin media($point){
  @if $point == sp {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }@else if $point == pc {
    @media only screen and (min-width: 769px) {
      @content;
    }
  }@else if $point == header {
    @media only screen and (max-width: 1300px) {
      @content;
    }
  }
}
