/*----------------------------------
Base Style
----------------------------------*/

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  position: static;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Meiryo UI", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* Image Style */
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
